html {
  height:100%;
}

body {
  height:100%;
}

.center {
  float:none;
  margin:0 auto;
}

.inactive {
  display:none;
}

.register {
  background-color: rgb(19,172,163);
  color: white;
}

.register label {
  color:white;
}

#header {
  margin-bottom:20px;
  min-height:10%;
}

#content-wrapper {
  display:table;
  height:100%;
  width:100%;
}

#content {
  display:table-cell;
  vertical-align:middle;
}

#footer {
  margin-top:20px;
  min-height:10%;
}

.register-stepImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
}

#register-pieChart {
  overflow:hidden;
}

.dashboard-header {
  margin-bottom: 20px;
  min-height: 15%;
}

.dashboard-projects {
  float: left;
  width: 25%;
}

.dashboard-bars {
  float: right;
  width: 75%;
}


