<div>
  <div class="span3 well center register" id="register-well">
    <h4>Login Here!</h4>
    <form id="form-login" accept-charset="UTF-8" method="post">
      <input class="span3" name="username" placeholder="Email" type="text"
      ng-model="loginCredentials.username"><br/>
      <input class="span3" name="password" placeholder="Password"
      type="password" ng-model="loginCredentials.password"><br/>   
      <button class="btn btn-login span3" type="submit"
        ng-click="loginUser(loginCredentials)">Login!</button>
    </form>
    <h4>Sign up here!</h4>
    <button class="btn btn-signup span3" type="submit"
      ng-click="registerUser()">Sign up!</button>
  </div>
</div>
