<div id="register_page">
  <div class="span3 well center register">
    <form class="form">
      <h3>Registration</h3>
      <label for="registerName">Name</label>
      <input type="text" id="registerName" placeholder="Name"
      ng-model="register.name">
      <label for="registerEmail">Email</label>
      <input type="text" id="registerEmail" placeholder="Email"
      ng-model="register.email">
      <label class="control-label" for="registerPassword">Password</label>
      <input type="password" id="registerPassword" placeholder="Password"
      ng-model="register.password">
      <label class="control-label" for="registerConfirmPassword">Confirm Password</label>
      <input type="password" id="registerConfirmPassword" placeholder="Confirm Password" ng-model="register.confirmPassword">
      <div class="row">
        <div class="span1 offset2">
          <button type="submit" class="btn btn-success"
            ng-click="registerUser(register)">Register!</button>
        </div>
      </div>
    </form>
  </div>
</div>
