<div id="register_page">
  <div class="span3 well center register">
    <form class="form" id="form-register">
      <h3>Registration</h3>
      <label for="registerName">Name</label>
      <input type="text" id="registerName" placeholder="Name"
      ng-model="register.name">
      <label for="registerEmail">Email</label>
      <input type="text" id="registerEmail" placeholder="Email"
      ng-model="register.email">
      <label class="control-label" for="registerPassword">Password</label>
      <input type="password" id="registerPassword" placeholder="Password"
      ng-model="register.password">
      <label class="control-label" for="registerConfirmPassword">Confirm Password</label>
      <input type="password" id="registerConfirmPassword" placeholder="Confirm Password" ng-model="register.confirmPassword">
      <button type="submit" class="btn btn-register span3"
        ng-click="registerUser(register)">Register!</button>
    </div>
  </form>
</div>
</div>
